body {
  margin: 0;
  font-family: system-ui;
  background: #0f172a;
  color: white;
}

.app {
  max-width: 500px;
  margin: auto;
  padding-bottom: 70px;
}

.header {
  text-align: center;
  padding: 15px;
}

.balance-card {
  background: #1e293b;
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.resumen-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.card {
  background: #1e293b;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #1e293b;
  color: white;
  width: 100%;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.ingreso { background: #22c55e; }
.gasto { background: #ef4444; }

/* NAV tipo app */
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  background: #1e293b;
  padding: 10px;
}

.bottom-nav button {
  background: none;
  color: white;
  font-size: 20px;
}

/* pantallas */
.screen {
  display: none;
}

.screen.active {
  display: block;
}