body {
  margin: 0;
  font-family: system-ui;
  background: #0f172a;
  color: white;
}

.app {
  max-width: 500px;
  margin: auto;
  padding-bottom: 70px;
}

.header {
  text-align: center;
  padding: 15px;
}

.balance-card {
  background: #1e293b;
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.resumen-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.card {
  background: #1e293b;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #1e293b;
  color: white;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.ingreso { background: #22c55e; }
.gasto { background: #ef4444; }

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  background: #1e293b;
  padding: 10px;
}

.bottom-nav button {
  background: none;
  color: white;
  font-size: 20px;
}

.screen {
  display: none;
}

.screen.active {
  display: block;
}

li {
  background: #1e293b;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.item-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn-delete {
  background: #ef4444;
  border: none;
  border-radius: 6px;
  padding: 5px 8px;
  color: white;
  cursor: pointer;
}